._*
.DS_Store
.eprj
Thumbs.db
/app/config/database.php
/app/tmp/
/app/webroot/imagens/imagecache/
/app/webroot/cache_css/
/app/webroot/cache_js/
/cake/
/tests/
/vendors/
/site/app/config/database.php
/site/app/tmp/
/site/app/webroot/imagens/imagecache/
/site/app/webroot/cache_css/
/site/app/webroot/cache_js/
/site/cake/
/site/tests/
/site/vendors/