._*
.DS_Store
.eprj
Thumbs.db
/app/config/database.php
/app/tmp/cache/models/
/app/tmp/cache/persistent/
/app/tmp/cache/views/
/app/webroot/imagens/imagecache/
/app/webroot/files/
/app/webroot/css/combined/
/app/webroot/js/combined/
/cake/
/tests/
/vendors/
/plugins/